@import url("./animation.css");
@import url("./header.css");
@import url("./banner.css");
@import url("./form.css");
@import url("./client.css");
@import url("./introduce.css");
@import url("./price.css");
@import url("./doctor.css");
@import url("./chart.css");
@import url("./footer.css");

:root {
  --header-height: 80px;
  --primary-color: #84b353;
  --secondary-color: #799e52;
  --third-color: #51762a;
  --title-font: "Montserrat Alternates", Sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
